{% extends "base.html" %}

<!--- Gestione Area Gestore ---->

{% block pagebody %}
<p style="margin-left: 20px; color: orange; font-size: 20px">Area Gestione:</p>

<div style="margin-bottom: 20px;">
<button style="margin-left: 20px" class="btn-ok" onclick="utenti()">Utenti</button>
<button style="margin-left: 20px" class="btn-ok" onclick="film()">Film</button>
<button style="margin-left: 20px" class="btn-ok" onclick="statis()">Statistiche</button>
</div>

<!--- Sezione Gestione Film --->
<div id="film" style="display: none; margin-left: 20px;">
	<div style="margin-bottom: 20px;">
		<button style="margin-left: 20px; width: 120px" class="btn-back" onclick="addfilm()">Aggiungi Film</button>
		<button style="margin-left: 20px; width: 120px" class="btn-back" onclick="delfilm()">Elimina Film</button>
		<button style="margin-left: 20px; width: 150px" class="btn-back" onclick="addSpettacolo()">Aggiungi Spettacolo</button>
		<button style="margin-left: 20px; width: 150px" class="btn-back" onclick="rmvSpettacolo()">Rimuovi Spettacolo</button>
	</div>
	<br>
	<!--- Sezione Aggiungi Film --->
	<form action="/filmInserito" method="post" style=" display: none" id="addfilm">
		<label for="name">Name</label><br>
		<input type="text" autocomplete="off" style="margin-bottom: 15px;" name="name" required="true">
		<br>
		<label for="regista">Regista</label><br>
		<select required="true" style="margin-bottom: 15px;" name="regista" id="regista">
			<option value="">Tutti</option>
			{% for r in reg %}
				<option value="{{ r.id }}" id="{{ r.name }}" >{{ r.name }}</option>
			{% endfor %}
		</select>
		<br>
		<label for="durata">Durata</label><br>
		<input type="number" autocomplete="off" style="margin-bottom: 15px; width: 70px" name="durata" required="true" class="safe_number">
		<br>
		<label for="genere">Genere</label><br>
		<select required="true" name="genere" id="genere" style="margin-bottom: 15px;">
			<option value="">Tutti</option>
			{% for g in gen %}
				<option value="{{ g.id }}" id="{{ g.name }}">{{ g.name }}</option>
			{% endfor %}
		</select>
		<br>
		<input type="submit" class="btn-ok" value="Aggiungi">
	</form>
	<!--- Sezione Elimina Film --->
	<div id="delfilm" style="display: none">
		<div style="border:solid; border-width: 1px; margin-bottom: 10px; width: 60%"></div>
	{% for f in films %}
		<form action="/eliminaFilm" method="POST" style="margin-top: 10px; margin-left: 30px; width: 60%">
		Autore: {{ f.autore }} - Genere: {{ f.genere }}<br>Durata: {{ f.durata }} minuti - Titolo: {{ f.film }}
		<input type="hidden" name="idfilm" value="{{ f.id }}">
		<button style="float: right; margin-right: 50px; background-color: black; color: white" type="submit" class="btn-ok">Elimina</button>
		</form>	
		<div style="border:solid; border-width: 1px; margin-bottom: 10px; width: 60%"></div>
	{% endfor %}
	</div>
	<!--- Sezione Inserisci Spettacolo --->
	<form action="/spettacoloInserito" method="post" style=" display: none" id="addSpettacolo">
		<label for="filmIns">Film</label><br>
		<select required="true" name="filmIns" id="filmIns" style="margin-bottom: 15px;">
				<option value="">-</option>
			{% for f in filmsN %}	
				<option value="{{f.id}}">{{f.name}}</option>
			{% endfor %}
		</select>
		<br>
		<label for="datepicker">Data</label><br>
		<input type="text" required="true" autocomplete="off" style="margin-bottom: 15px;" name="datepicker" required="true" id="datepicker">
		<br>
		<label for="orario">Orario</label><br>
		<select name="orario" required="true" id="orario" style="margin-bottom: 15px;">
			<option value="">-</option>
				<option value="15.00">15:00</option>
				<option value="15.50">15:30</option>
				<option value="16.00">16:00</option>
				<option value="16.50">16:30</option>
				<option value="17.00">17:00</option>
				<option value="17.50">17:30</option>
				<option value="18.00">18:00</option>
				<option value="18.50">18:30</option>
				<option value="19.00">19:00</option>
				<option value="19.50">19:30</option>
				<option value="20.00">20:00</option>
				<option value="20.50">20:30</option>
				<option value="21.00">21:00</option>
				<option value="21.50">21:30</option>
				<option value="22.00">22:00</option>
				<option value="22.50">22:30</option>
		</select>
		<br>
		<label for="sala">Sala</label><br>
		<select name="sala" required="true" id="sala" style="margin-bottom: 15px;">
				<option value="">-</option>
				<option value="1">Sala 1 (20 posti)</option>
				<option value="2">Sala 2 (30 posti)</option>
		</select>
		<br>
		<input type="submit" class="btn-ok" value="Aggiungi">
	</form>
	<!--- Sezione Elimina Spettacolo --->
	<div id="rmvSpettacolo" style="display: none">
		<div style="border:solid; border-width: 1px; margin-bottom: 10px; width: 60%"></div>
	{% for s in spet %}
		<form action="/eliminaSpettacolo" method="POST" style="margin-top: 10px; margin-left: 30px; width: 60%">
		Data: {{s.data}} {{s.ora}} -- Sala: {{s.nsala}} -- Film: {{s.name}}
		<input type="hidden" name="idspett" value="{{ s.id }}">
		<button style="float: right; margin-right: 50px; color: white; background-color: black" class="btn-ok" type="submit">Elimina</button>
		</form>	
		<div style="border:solid; border-width: 1px; margin-bottom: 10px; width: 60%"></div>
	{% endfor %}	
	</div>
</div>

<!--- Sezione Gestione Utenti --->
<div id="utenti" style="display: none; margin-left: 20px;">
	<div>
		<div style="border:solid; border-width: 1px; margin-bottom: 10px; width: 60%"></div>
	{% for u in utenti %}
		<form action="/gestUtente" method="POST" name="gestUtente" id="frm" style="margin-top: 10px; margin-left: 30px; width: 60%">
		Email: {{ u.email }} - Password: {{ u.pwd }}<br>Name: {{ u.name }} - Surname: {{ u.surname }}<br>Ruolo: {% if u.idruolo == 1 %}Admin{% else %}Cliente{% endif %}
		<input type="hidden" name="email" value="{{ u.email }}">
		<input type="hidden" name="idutente" value="{{ u.idruolo }}">
		{% if current_user.id !=  u.id  %}
		<button style="float: right; margin-right: 50px; color: white; background-color: black" type="submit" class="btn-ok">Elimina</button>
		<button style="float: right; margin-right: 50px; width: 150px" type="button" class="btn-ok" onclick="admin('{{ u.id }}')">{% if u.idruolo ==  2  %}Promuovi ad Admin{% else %}Rendi Cliente{% endif %}</button>
		{% else %}
		<button style="float: right; margin-right: 50px;" type="button" class="btn-ok" onclick="modifica()">Profilo</button>
		{% endif %}
		</form>	
		<div style="border:solid; border-width: 1px; margin-bottom: 10px; width: 60%"></div>
	{% endfor %}
	</div>
</div>

<!--- Sezione Gestione Statistiche --->
<div id="stats" style="display: none; margin-left: 20px;" >
	<br>
	<table class="content-table table-sortable">
		<thead>
		  <tr>
		    <th>Film</th>
		    <th>Incassi</th>
		    <th>N. Biglietti</th>
		  </tr>
		</thead>
		<tbody>
	  	{% for m in moneyF %}
	  	<tr>
			<td>{{ m.name }}</td>
			<td>{{ m.ticket }}.00 €</td>
			<td>{{ m.n }}</td>
		</tr>	
		{% endfor %}
		</tbody>
	</table>
	<div style="border:solid; border-width: 1px; margin: 10px 0px; width: 500px"></div>
	<table class="content-table">
		<thead>
		  <tr>
		    <th>Regista</th>
		    <th>Incassi</th>
		    <th>N. Biglietti</th>
		  </tr>
		</thead> 
		<tbody>
	  	{% for r in moneyR %}
	  	<tr>
			<td>{{ r.name }}</td>
			<td>{{ r.ticket }}.00 €</td>
			<td>{{ r.n }}</td>
		</tr>	
		{% endfor %}
		</tbody>
	</table>
	<div style="border:solid; border-width: 1px; margin: 10px 0px; width: 500px"></div>
	<table class="content-table">
		<thead>
		  <tr>
		    <th>Genere</th>
		    <th>Incassi</th>
		    <th>N. Biglietti</th>
		  </tr>
	  	</thead>
	  	<tbody>
	  	{% for g in moneyG %}
	  	<tr>
			<td>{{ g.name }}</td>
			<td>{{ g.ticket }}.00 €</td>
			<td>{{ g.n }}</td>
		</tr>	
		{% endfor %}
		</tbody>
	</table>
	<br>
</div>

<!--- Script JS --->
<script type="text/javascript">
	function modifica(){
		var form = document.getElementById('frm');
		form.action = '/pp';
		form.submit();
	}

	function utenti(){
		document.getElementById('stats').style.display = 'none';
		document.getElementById('film').style.display = 'none';
		document.getElementById('utenti').style.display = 'block';
	}

	function film(){
		document.getElementById('utenti').style.display = 'none';
		document.getElementById('stats').style.display = 'none';
		document.getElementById('film').style.display = 'block';
	}

	function statis(){
		document.getElementById('utenti').style.display = 'none';
		document.getElementById('film').style.display = 'none';
		document.getElementById("stats").style.display = "block";
	}

	function addfilm(){
		document.getElementById('delfilm').style.display = 'none';
		document.getElementById("addfilm").style.display = "block";
		document.getElementById("rmvSpettacolo").style.display = "none";
		document.getElementById("addSpettacolo").style.display = "none";
	}

	function delfilm(){
		document.getElementById('addfilm').style.display = 'none';
		document.getElementById("delfilm").style.display = "block";
		document.getElementById("rmvSpettacolo").style.display = "none";
		document.getElementById("addSpettacolo").style.display = "none";
	}

	function addSpettacolo(){
		document.getElementById('addfilm').style.display = 'none';
		document.getElementById("delfilm").style.display = "none";
		document.getElementById("rmvSpettacolo").style.display = "none";
		document.getElementById("addSpettacolo").style.display = "block";
	}

	function rmvSpettacolo(){
		document.getElementById('addfilm').style.display = 'none';
		document.getElementById("delfilm").style.display = "none";
		document.getElementById("rmvSpettacolo").style.display = "block";
		document.getElementById("addSpettacolo").style.display = "none";
	}

	function admin(index){
		location.href="/promuoviAdmin/" + index;
	}

</script>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
	// selezione data
	$( function() {
		$( "#datepicker" ).datepicker({ dateFormat: 'dd-mm-yy' });
  	});

	document.querySelector(".safe_number").addEventListener("keypress", function (evt) {
    	if (evt.which != 8 && evt.which != 0 && evt.which < 48 || evt.which > 57){
        	evt.preventDefault();
    	}
	});
</script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
{% endblock %}
