<!--- Template every page --->

<html>
<head>
    <title>Cineplex</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/favicon.png') }}"/>
	<script src="{{ url_for('static', filename='js/index.js') }}"></script>
</head>
<body style="margin: 0px;">
	<div style="width: 100%; background-color: black; ">
	<div class="title"><a href="/">Cineplex</a><br>
		{% if current_user.is_authenticated %}
		<form action= '/logout' method="post" class="fr-20">
			<button type="submit" class="btn-ok main-btn">Logout</button>
		</form>
		<form action= '/private' method="post" class="fr-20">
			<button class="btn-ok" style="width: 120px" type="submit" >{% if current_user.get_role() == 2 %}Private Area{% else %}Area Manage{% endif %}</button>
		</form>
	{% else %}
		<div class="fr-20">
		<a  href='/user'>
			<button class="btn-ok">Login</button>
		</a>
		</div>
		<div class="fr-20">
		<a  href='/signup'>
			<button class="btn-ok main-btn" >Sign Up</button>
		</a>
		</div>
	{% endif %}
		<div style=" float: left; margin-left: 20px;">
			<a  href='/'>
				<button class="btn-ok">Home</button>
			</a>
		</div>	
	</div>
	</div>
	<div style="margin: 20px 10px 0;">
    {% block pagebody %}
    {% endblock %}
	</div>
</body>
</html>
