{% extends "base.html" %}

<!--- Selezione proiezione del singolo film --->

{% block pagebody %}
	<div class="center" style="margin-top: 50px; top:33%">
	<p style="font-size: 20px; color: orange">Spettacoli del film: <span style="color: black">{{ name }}</span></p>
	{% if l == 0 %}
	Nessuno spettacolo in programma.
	{% else %}

	<form action="/prenotaPosto" method="POST">
		<input type="hidden" name="spettacolo" value="{{ticket[0][0]}}">
		<input type="hidden" name="film" value="{{ id }}">
		<input type="hidden" name="sala" value="{{ ticket[0][3] }}">
		<p style="margin: 0 0 5px;">{{ticket[0][1].strftime("%d/%m/%y")}}</p>
		<button type="submit" class="btn-ok">{{ ticket[0][2].strftime("%H:%M") }}</button> - Sala {{ticket[0][3]}}
	</form>

	{% for c in range(1, l) %}
	<form action="/prenotaPosto" method="POST">
		<input type="hidden" name="spettacolo" value="{{ticket[c][0]}}">
		<input type="hidden" name="film" value="{{ id }}">
		<input type="hidden" name="sala" value="{{ ticket[c][3] }}">
		{% if ticket[c][1] != ticket[c-1][1] %}
		<p style="margin: 0 0 5px;">{{ticket[c][1].strftime("%d/%m/%y")}}</p>
		{% endif %}
		<button type="submit" class="btn-ok">{{ ticket[c][2].strftime("%H:%M") }}</button> - Sala {{ticket[c][3]}}
	</form>
	{% endfor %}
	{% endif %}
	</div>
{% endblock %}
